/* styles.css */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aqua;
  background-color: brown;
}

div {
  color: blueviolet;
}

.kolac {
  height: 400px;
  width: 300px;
}

ul {
  display: flex;
  list-style: none;
}

p,
ul {
  margin: 30px;
}
